.c-button{
    padding: 16px 32px;
    background-color: rgb(56, 179, 152);
    color: rgb(255, 255, 255);
    font-size: Arial;
    text-transform: uppercase;
    font-weight: 400;
    border-radius: 20px;
}